<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.dao.UserDao">

    <!--注册-->
    <insert id="zc" useGeneratedKeys="true" parameterType="com.zheng.entity.User">
        insert into t_user(username,password)
        values (#{username},#{password})
    </insert>

    <!--登录检测-->
    <select id="login" resultType="com.zheng.entity.User">
        select id,username,password
        from t_user
        where username=#{username} and password=#{password}
    </select>

</mapper>